.header-top .menu{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.header-top .menu a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;

    color: var(--color-FFF);
    font-size: var(--fs-20);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

ul.navmenu {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 900px;
    width: 100%;
    column-gap: 35px;
    justify-content: end;
    margin-right: 35px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;
}
.navmenu a{
    color: var(--color-235FAC);
    font-size: var(--fs-20);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}
.navmenu li{
    position: relative;
}

.navmenu a::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: var(--color-235FAC);
    top: 0;
    right: -19px;
}
header .navbar-text{
    margin-right: 0;
    margin-left: 40px;
}
.navmenu li:last-child a::after{
    display: none;
}
/* Responsive css  */
@media(max-width: 1599px){
    ul.navmenu {
        max-width: 750px;
    }
}

@media(max-width: 1399px){
    header .navbar-text {
        margin-right: 0;
        margin-left: 15px;
    }
    ul.navmenu {
        max-width: 625px;
    }
    .btn.btn-primary {
        padding: 5px 25px;
    }
}

@media(max-width: 991px){
    .header-top .menu {
        display: grid;
        row-gap: 10px;
        margin-top: 25px;
        padding-bottom: 25px;
    }
}