.header-top .menu{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.header-top .menu a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;

    color: var(--color-FFF);
    font-size: var(--fs-20);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

ul.navmenu {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 900px;
    width: 100%;
    column-gap: 35px;
    justify-content: end;
    margin-right: 35px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;
}
.navmenu a{
    color: var(--color-235FAC);
    font-size: var(--fs-20);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}
.navmenu li{
    position: relative;
}

.navmenu a::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: var(--color-235FAC);
    top: 0;
    right: -19px;
}
header .navbar-text{
    margin-right: 0;
    margin-left: 40px;
}
.navmenu li:last-child a::after{
    display: none;
}
.comments-area,
.entry-footer,
.navigation.post-navigation{
    display: none;
}
.contentsingelimage{
    margin-top: 90px;
    margin-bottom: 30px;
}
.entry-content{
    margin-bottom: 90px;
}
.entry-content h2,
.entry-content h3{
    margin-top: 30px;
}
.blog-page .card .card-body h6{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contentsingelimage .entry-title{
    margin-bottom: 20px;
}
.contentsingelimage .post-thumbnail{
    margin-bottom: 20px;
    max-width: 900px;
    max-height: 700px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px #00000029;
    display: grid;
    align-items: center;
    justify-content: center;
}
.contentsingelimage .post-thumbnail img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.blog-img {
    width: 272px;
    height: 170px;
    overflow: hidden;
}
.blog-img img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 10px;
}

@media(min-width: 992px){
    .blog-page .card-body{
        min-height: 249px;
    }
}
/* Responsive css  */
@media(max-width: 1599px){
    ul.navmenu {
        max-width: 750px;
    }
}

@media(max-width: 1399px){
    header .navbar-text {
        margin-right: 0;
        margin-left: 15px;
    }
    ul.navmenu {
        max-width: 550px;
    }
    .btn.btn-primary {
        padding: 5px 25px;
    }
}

@media(max-width: 991px){
    .header-top .menu {
        display: grid;
        row-gap: 10px;
        margin-top: 25px;
        padding-bottom: 25px;
    }
    ul.navmenu {
        display: block;
        gap: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    ul.navmenu a::after{
        display: none;
    }
    header .navbar-text {
        margin-left: 0;
    }
    .navmenu li{
        padding-bottom: 10px;
    }
    .contentsingelimage {
        margin-top: 50px;
    }
}